*{
    margin: 0;
}

/* BAGIAN HEADER  */

:root{
    --cheryblossom: linear-gradient(to right, #fbd3e9, #bb377d);
    --redsunset: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    --unguhijaubiru : linear-gradient(to right, #8360c3, #2ebf91);
    --garis :linear-gradient(to right, #ffeeee, #ddefbb);
    --bg-2:linear-gradient(to right, #6190e8, #a7bfe8);
    --bg-jalan: linear-gradient(to right, #be93c5, #7bc6cc);
    --pertama: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}



header{
    top: 0;
    z-index: 1000;
    position: sticky;
    animation: kiri 2s ease;
    box-sizing: border-box;
    padding: 20px;
    background-image: var(--cheryblossom);
    background-position: center;
    background-size: 100%;
    z-index: 1;
}

.hilang{
    overflow: hidden;
}

.hiden{
    animation: hilangH 1s;
}

/* Animasi Hilang */

@keyframes hilangH{
    to{
        overflow: hidden;
    }
}

.pala h2{
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

.pala{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

ul{
    margin-top: 5px;
    display: flex;
}

li{
    list-style: none;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/* BAGIAN TENTANG SAYA */


.container{
    background-image: var(--pertama);
    height: 500px;
    display: grid;
    grid-template-areas: "satu dua";
    grid-template-columns: 50% 50%;
    padding: 30px 10%;
    display: flex;
}

.deskripsi{
    margin: auto;
    color: white;
    width: 400px;
}

.deskripsi h1{
    margin-bottom: 10px;
}




/* BAGIAN TEXT RANDOM */
.jalan{
    background-image: var(--bg-2);
    overflow: hidden;
    padding: 20px;
    display: grid;
    grid-template-areas:
    "satu dua tiga empat lima enam tujuh"
    ;
}

.tes{
    overflow: hidden;
    animation: jalan 10s linear infinite;
}

main{
    animation: bgjalan 4s alternate-reverse infinite;
    background-size: 200%;
    background-position: left;
    text-align: center;
    background-image: var(--bg-jalan);
}

/* ANIMASI FOTO JALAN SCROL DAN TEXT */

@keyframes jalan{
    0%{
        transform: translateX(1500px);
    }

    100%{
        transform: translateX(-800px);
    }
}

/* PERKENALAN ORANGNYA */

.kenal{
    display: grid;
    grid-template-areas:
    "satu dua tiga empat"
    "lima enam tujuh delapan"
    "sebelas sembilan sepuluh duabelas"
    ;
    padding: 20px;
    text-align: center;
    gap: 15px;
}

.kenal img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.kartu{
    background: linear-gradient(to right, #be93c5, #7bc6cc);;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px;
}

.des1{
    padding: 10px;
    display: flex;
    grid-area: satu;
}

.des1 p{
    margin: auto;
}

.des2{
    grid-area: dua;
}
.des3{
    grid-area: tiga;
}
.des4{
    padding: 10px;
    display: flex;
    grid-area: empat;
}

.des4 p{
    margin: auto;
}

.des5{
    grid-area: lima;
}
.des6{
    grid-area: enam;
}
.des7{
    grid-area: tujuh;
}
.des8{
    grid-area: delapan;
}

/* ANIMASI GARIS DI TEXT JALAN */
.garisA{
    overflow: hidden;
    animation: garisJ2 5s linear infinite;
    display: block;
    height: 5px;
    left: 100%;
}

.garisB{
    overflow: hidden;
    width: 100%;
    display: block;
    height: 5px;
    width: 100%;
    animation: garisJ 5s linear infinite;
}

.jalanB{
    overflow: hidden;
}

@keyframes garisJ{
    0%{
        
        transform: translateX(-100%);
        background-image: var(--garis);
        
    }

    100%{
        transform: translateX(100%);
        background-image: var(--garis);
    }
}
@keyframes garisJ2{
    0%{
        
        transform: translateX(100%);
        background-image: var(--garis);
        
    }

    100%{
        transform: translateX(-100%);
        background-image: var(--garis);
    }
}

.tentang{
    padding: 50px;
}

.Bmain{
    background-image: var(--unguhijaubiru);
    padding: 20px;
    text-align: center;
    background-size: 150%;
    animation: bgjalan 1s infinite alternate-reverse;
}

.rahasia{
    background-size: 150%;
    animation: bgjalan 2s infinite alternate-reverse;
    text-align: center;
    background-image: var(--redsunset);
    padding: 20px;
}

.rahasia h3{
    color: aliceblue;
}

.rahasia p{
    margin-bottom: 10px;
    color: aliceblue;
}

.rahasia button{
    background: #2c3e50;
    padding: 10px;
    border-radius: 10px;
}

.rahasia button:hover{
    background: aliceblue;
}

main{
    overflow: hidden;
}

footer{
    justify-content: space-between;
    padding: 15px;
    background-image: var(--pertama);
    display: flex;
}

footer h3{
    color: aliceblue;
}

footer img{
    box-sizing: border-box;
    width: 100%;
    height: 20px;
}
